div > p {
    border: 2px solid black;
    padding: 20px;
}

div.fixed  > p {
    width: 300px;
}

div.percentage > p {
    width: 50%;
}

div.viewpoint > p {
    width: 50vw;
}

div.min-max > p {
    min-width: 100px;
    max-width: 300px;
}