ul li {
    list-style-type: none;
}

header, section, footer {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: 2px solid #dddddd;
}

h1, h2, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover, section a:hover, footer a:hover {
    color: #000000;
    text-decoration: none;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul{
    padding-inline-start: 5px;
}

ul li a {
    text-decoration: none;
    color: #000000;
}