h1 {
    color:red
}

p {
    font-size: large;
}

.highlight {
    background-color: yellowgreen;
}

#main-title {
    color:blue
}

#special-paragraph{
    font-style: italic;
}

ul {
   list-style-type: lower-alpha;
}

li {
    color:blue;
}

div {
    background-color: aqua;
}
