.container {
    max-width: 1000px;
    margin: 1em auto;
    padding: 2em;
    border: 2px solid grey;
}

main > p:nth-of-type(1) {
    font-weight: bold; 
}


footer p {
    font-style: italic;
}

p span {
    font-weight: bold;
}

html body {
    font-family: 'Lato', sans-serif;
}